search-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: ipx solid#ccc;
    border-radius: 25px;
    width: 30%;
    margin: 0 auto;
    background-color: #f5f6fa;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    transition: box-shadow 0.3s;
}

.search-container:hover {
    box-shadow: 0 0 20px rgba(red, green, blue, alpha);

}

.search-container input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
}

.search-container i {
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
    color: #666;

}